@font-face {
  font-family: "Fuiji";
  src: url("/assets/fonts/fuiji.woff2") format("woff2"),
    url("/assets/fonts/fuiji.ttf") format("truetype"),
    url("/assets/fonts/fuiji.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "851MakaPop";
  src: url("/assets/fonts/851makapop.woff2") format("woff2"),
    url("/assets/fonts/851makapop.ttf") format("truetype"),
    url("/assets/fonts/851makapop.otf") format("opentype");
  font-display: swap;
}
